* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.time-select,
.sound-picker,
.player-container {
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



.player-container svg {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

.time-display {
    position: absolute;
    bottom: 10%;
    color: #fff;
    font-size: 50px;
}

.time-select button,
.sound-picker button {
    color: #fff;
    width: 30%;
    height: 10%;
    background: none;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.5s ease;
}

.time-select button:hover {
    color: #000;
    background: #fff;
}

.sound-picker button {
    border: none;
    outline: none;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 30px;
}

.sound-picker button:nth-child(1) {
    background: #4972a1;
}

.sound-picker button:nth-child(1):hover {
    background: #365374;
}
.sound-picker button:nth-child(2):hover {
    background: #973129;
}
.sound-picker button:nth-child(2) {
    background: #a14f49;
}

.sound-picker button img {
    height: 100%;
}